# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
.swiftpm/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store

# SPM
Package.resolved

# Env
*.env

# Xcode / local QA
DerivedData/
build_dd/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
